{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
  <p></p>
  <h2 class="naranja">Borrar Evento</h2>
      <div class="contenido">
        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                  <p >
                    {{ field.label_tag }} <br>
                    {{ field }}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
          <div class="botonera">
              <input type="submit" value="Borrar" class="boton-naranja">
          </div>
        </form>
      </div>
</section>


{% endblock content %}
