{% extends "base.html" %}

{% block content %}
{% include 'volver.html' %}
  <section class="bloque">
    <h2 class="celeste">Encuentros</h2>
    {% if user.is_authenticated %}
    <div class="botonera">
      <ul>
        <li class="boton-verde"><a href="{% url 'nuevoEvento' %}">Crear un nuevo evento</a></li>
      </ul>
    </div>

      <p>Listado de los proximos eventos</p>
      <br>

      {% for evento in eventos %}
        <div class="iteracion">
          <h3  class="celeste"> {{evento.titulo}} </h3>
          <div><a href="{% url 'eventoVer' pk=evento.id %}">Ver</a> </div>
          <div><a href="{% url 'eventoEditar' pk=evento.id %}">Editar</a></div>
          <div><a href="{% url 'eventoBorrar' pk=evento.id %}">Borrar</a></div>
        </div>


      {% endfor %}

      <div class="botonera">
          <ul>

            <li class="boton-verde">
                {% if page_obj_has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
            </li>
            <li class="boton-verde">
                {% if page_obj_has_next %}
                    <a href=href="?page={{ page_obj.next_page_number }}">Siguente</a>
                {% endif %}
            </li>
          </ul>
      </div>
    <!--Si el usuario no esta registrado le pido que se registre -->
    {% else %}
      {% include 'autenticarse.html' %}
    {% endif %}


  </section>

{% endblock %}
