{% extends "base.html" %}

{% block content %}
{% include 'volver.html' %}
<section class="bloque">
<h2 class="celeste">Alta de evento</h2>
    {% if user.is_authenticated %}
        <div class="contenido">

            <form method="post">
              {% for field in form %}
                <p >
                  {{ field.label_tag }} <br>
                  {{ field }}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}

            <br>
            <div class="botonera">
                <input type="submit" value="Crear Evento" class="boton-verde">
            </div>
          </form>
        </div>
    {% else %}
        {% include 'autenticarse.html' %}
    {% endif %}
</section>

{% endblock %}
