{% extends "base.html" %}

{% block content %}
{% include 'volver.html' %}
<section class="bloque">

  <h2 class="celeste">Evento</h2>

  <div class="iteracion">
    {% if user.is_authenticated %}
    <br>
    <h2 class="celeste">{{ evento.titulo }}</h2>
        <div class="contenido-evento">
            <br>
            <p>{{ evento.descripcion }}</p>
            <br>
            <p>{{ evento.lugar }}</p>
            <br>
            <p>{{ evento.ubicacion }}</p>
            <br>
            <p>{{ evento.fecha }}</p>
            <br>
            <p>Participantes: {{ evento.cantidadParticipantes }}</p>
        </div>
  </div>
  <div class="botonera">
    <ul>
      <li class="boton-celeste"><a href="{% url 'registrarParticipacion' pk=evento.id user=user.username %}">Participar / Dejar</a></li>
    </ul>
  </div>


        <p>Participantes:</p>
        <div class="iteracion">
        {% for participante in evento.participantes.all %}
            {% if participante.participa %}
            <div class="participantes">
              <p>{{ participante.alias|linebreaks }}</p>
            </div>
            {% endif %}
        {% empty %}
            <p> Este articulo aun no tiene participantes, se el primero! </p>
        {% endfor %}
      </div>

    {% else %}
        {% include 'autenticarse.html' %}
    {% endif %}
</section>

{% endblock %}
