
{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
  <h2 class="celeste">Eventos</h2>

    <div class="contenido">

        <form id="searchform" action="{% url 'buscarEventos' %}" method="get" accept-charset="utf-8">
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
            <div class="botonera">
                <input type="submit" value="Buscar eventos" class="boton-verde">
            </div>
        </form>

    </div>
    <p class="iteracion"></p>

    <div>
        {% for evento in eventos %}
          <div class="iteracion">
            <h3  class="celeste"> {{evento.titulo}} </h3>
            <div><a href="{% url 'eventoVer' pk=evento.id %}">Leer mas...</a></div>
            <br>

          </div>
        {% endfor %}

        {% if eventos.paginator.num_pages > 1 %}
        <div class="botonera">
            {% if eventos.has_previous %}
                <a class="boton-verde" href="?page={{ eventos.previous_page_number }}">Anterior</a>
            {% endif %}

            {% if eventos.has_next %}
                <a class="boton-verde" href="?page={{ eventos.next_page_number }}">Siguente</a>
            {% endif %}
        </div>
        {% endif %}
    </div>


</section>

{% endblock content %}
