@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

html{
    position: relative;
    min-height: 100%;
}


* {
    margin: 0px;
    padding: 0px;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    /* background: #f0f4f4;*/

    background: #fbfbfb;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15pt;
    line-height: 1.85em;
    font-weight: 300;
    color: #483949;
}

h1, h2, h3, h4, h5, h6, a {
    font-weight: 400;
    color: #483949;
    line-height: 1.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom-color: transparent;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
        font-weight: 600;
    }

h2 {
        font-size: 2.85em;
    }

h3 {
        font-size: 1.25em;
    }

h4 {
    font-size: 1em;
    margin: 0 0 0.25em 0;
}

a {
    text-decoration: none;
}

.img-perfil {
    border-radius: 50% !important;
    max-width: 10rem;
    max-height: 10rem;
    /*border: 0.5rem solid rgba(255, 255, 255, 0.2);*/
    border: 0.25rem solid rgba(255, 255, 255, 255);
}


/* LOGO */
.logo {
    font-size: 2.85em;
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;

}

/* MENU DE LOGIN */
.login {
    display: inline-block;
    width: 100%;
}

.login ul {
    list-style-type: none;
    overflow: hidden;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.login li {
    float: right;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0.85em;
    color: #2b252c;
}

.login li>a {
    color: #2b252c;
}

/* MENU DE PRINCIPAL */
.menu ul {
    display: inline-block;
    margin-bottom: 20px;
}

.menu li {
    float: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 7px solid #54bc99;
}

.menu li:hover {
    border-bottom: 7px solid #47a484;
    color: #000;
}

.menu li a:hover{
    color: #000;
}

@media screen and (max-width: 400px){
    .menu li {float: none;}
}


.verde {
    color: #54bc99;
}

.naranja {
    color: #f69c47;
}

.celeste {
    color: #87babf;
}

#map {
    height: 500px;
}


/* BLOQUES */
.bloque {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
}


.bloque h2{
    font-size: 1.89em;
    font-family: 'Julius Sans One', sans-serif;
    display: inline-block;
    float: center;
    padding-left: 20pX;
    padding-right: 20px;
    border-bottom: 4px solid ;
}

.contenido {
    padding-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.contenido-evento {
    padding-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}


.contenido-evento p{
  display: inline-block;
  width: 30%;
  height: 70px;
  margin-bottom: 20px;
}

/* PALETA DE COLORES
verde: #54bc99;
Naranja: #f69c47;
CELESTE: #abd4d8;
*/

/* CONTENIDO */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

* {box-sizing: border-box;}

.grid > div {
  padding: 1em;
}

@media screen and (max-width: 800px){
    .grid {
      grid-template-columns:  1fr 1fr;
    }
    .contenido {
        padding-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px){
    .grid {
      grid-template-columns:  1fr;
    }

    .contenido {
        padding-top: 100px;
    }
}

#botonera-borde {
  border-bottom: 1px solid #54bc99
}



/* Articulos */

.articulo {
    margin: 10px;
    border-bottom: 1px solid #54abbc;
}

.articulo h3 {
    color: #54abbc
}

.articulo a {
    font-size: 0.85em;
    color: #54abbc;
}


/* Diarios */
.diario {
    margin: 10px;
    border-bottom: 1px solid #54abbc;
}

.diario h3 {
    color: #54abbc
}

.diario a {
    font-size: 0.85em;
    color: #54abbc;
}


/* Eventos */
.evento {
    margin: 10px;
    border-bottom: 1px solid #54abbc;
}

.evento h3 {
    color: #54abbc
}

.evento a {
    font-size: 0.85em;
    color: #54abbc;
}


/* Viajes */
.viaje {
    margin: 10px;
    border-bottom: 1px solid #54abbc;
}

.viaje h3 {
    color: #54abbc
}

.viaje a {
    font-size: 0.85em;
    color: #54abbc;
}


.boton-v {
    margin: 10px;
    border: 2px solid #54bc99;
    background-color: #54bc99;
    padding: 1em;
    color: #fff;
}

.boton-v:hover {
    margin: 10px;
    border: 2px solid #47a484;
    background-color: #47a484;
    padding: 1em;
    color: #fff;
}

/* Botonera */
.botonera ul {
    display: inline-block;
    /* margin-bottom: 10px;
    margin-top: 10px; */
}

.botonera li {
    float: left;
    list-style-type: none;
    padding: 5px 15px;
    margin: 10px;
    color: #fff;
    font-size: 0.89em;
}

.botonera li:hover, .botonera>input:hover, button:hover {
    filter: brightness(90%);
}

.botonera li a, .botonera>input, button{
    color: #fff;
}

.botonera h4 {
    font-size: 1em;
    margin: 10px;
    margin-top: 20px;

}

.botonera>input, button {
    border: none;
    padding: 5px 15px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 0.89em;
}

.botonera>a {
    border: none;
    padding: 5px 15px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 0.89em;
}
.boton-verde {
     background-color: #54bc99;
}

.boton-naranja {
    background-color: #f69c47;
}

.boton-celeste {
    background-color: #54abbc;
}

/* iteracion para mostrar */
.iteracion {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid #54bc99
}

.iteracion a {
  font-size: 0.85em;
  color: #54abbc;
}

.iteracion h3 {
  font-size: 1.5em;
  color: #54bc99;
}

.iteracion img{
  width: 50%;
  height: 50%;
}

#img-panel{
  width: 100%;
  height: 100%;
}

.panel_inputArea{
    width: 20%;
    height: 100px;

}

.panel_input{
    width: 20%;
}




/* FOOTER */
footer {
    clear: both;
    position: absolute;
    background-color: #2b252c;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    bottom: 0px;
    color: #eee;

}

footer p{
    color:#fff;
    margin-right: 20px;
    font-size: 0.85em;

}

main {
    margin-bottom: 60px;
}

.foto-art-mini {
    height: 200px;
    width: 400px;
}
