{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
    {% if user.is_authenticated %}
    <h2 class="celeste">Modificar Viaje</h2>

        <div class="contenido">
            <form method="post">
                {% csrf_token %}
                <div class="iteracion">
                    {% for field in editar_viaje_form %}
                    <p >
                      {{ field.label_tag }} <br>
                      {{ field }}
                      {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                    {% endfor %}
                </div>


                {{ editar_destino_formset.management_form }}
                <h3 class="verde">Destinos</h3>

                {% for destino in editar_destino_formset %}
                  <div class="iteracion">
                      <div class="link-formset">
                        {% for field in destino %}
                            <p>
                              {% if field.label != "Id" %}
                                  {{ field.label_tag }} <br>
                                  {{ field }}
                                  {% for error in field.errors %}
                                      <p style="color: red">{{ error }}</p>
                                  {% endfor %}
                              {% endif %}
                            </p>
                        {% endfor %}
                      </div>
                  </div>
                {% endfor %}


                <div class="botonera">
                    <input type="submit" value="Guardar cambios" class="boton-verde">
                </div>
            </form>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="{% static 'js/jquery.formset.js' %}"></script>
            <script>
                $('.link-formset').formset({
                    addText: 'Agregar destino',
                    deleteText: 'Quitar destino'
                });
            </script>

        </div>

    {% else %}
      {% include 'autenticarse.html' %}
    {% endif %}

</section>


{% endblock %}
