{% extends "base.html" %}

{% load staticfiles%}

{% block content %}
{% include 'volver.html' %}
<link href="{% static 'css/panel.css' %}" rel="stylesheet">

<section class="bloque">
  <h2 class="celeste">Mis Viajes</h2>
    {% if user.is_authenticated %}

        <div class="sidebar">
            <div class="sidenav">
                <a href="{% url 'nuevoViaje' %}">Nuevo viaje</a>
            </div>
        </div>


        {% if items|length > 0 %}
            <p class="iteracion">Proximos viajes</p>

            {% for viaje in items %}
                <div class="iteracion">
                    <h3  class="celeste"> {{ viaje.nombre }} </h3>
                    <p> {{ viaje.descripcion }} </p>
                    <a href="{% url 'verViaje' pk=viaje.id %}"> Ver </a>
                    <a href="{% url 'editarViaje' pk=viaje.id %}"> Editar </a>
                    <a href="{% url 'borrar_viaje' pk=viaje.id %}"> Borrar </a>
                </div>
            {% endfor %}

            {% if items.paginator.num_pages > 1 %}
                <div class="botonera">
                        {% if items.has_previous %}
                            <a class="boton-verde" href="?page={{ items.previous_page_number }}">Anterior</a>
                        {% endif %}

                        {% if items.has_next %}
                            <a class="boton-verde" href="?page={{ items.next_page_number }}">Siguente</a>
                        {% endif %}
                </div>
            {% endif %}

        {% else %}
            <h3 class="naranja">No hay viajes cargados</h3>
        {% endif %}

    <!--Si el usuario no esta registrado le pido que se registre -->
    {% else %}
        {% include 'autenticarse.html' %}
    {% endif %}

</section>

{% endblock %}
