
{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
  <h2 class="celeste">Viajes</h2>

    <div class="contenido">

        <form id="searchform" action="{% url 'buscarViajes' %}" method="get" accept-charset="utf-8">
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
            <div class="botonera">
                <input type="submit" value="Buscar viajes" class="boton-verde">
            </div>
        </form>

    </div>
    <p class="iteracion"></p>

    <div>
        {% for viaje in viajes %}
          <div class="iteracion">
            <h3  class="celeste"> {{viaje.nombre}} </h3>
            <div><a href="{% url 'verViaje' pk=viaje.id %}">Ver mas...</a></div>
          </div>
        {% endfor %}

        {% if viajes.paginator.num_pages > 1 %}
        <div class="botonera">
            {% if viajes.has_previous %}
                <a class="boton-verde" href="?page={{ viajes.previous_page_number }}">Anterior</a>
            {% endif %}

            {% if viajes.has_next %}
                <a class="boton-verde" href="?page={{ viajes.next_page_number }}">Siguente</a>
            {% endif %}
        </div>
        {% endif %}
    </div>


</section>

{% endblock content %}
