{% extends "base.html" %}

{% block content %}
{% include 'volver.html' %}
<section class="bloque">
    {% if user.is_authenticated %}

    <h2 class="celeste"> {{ viaje.nombre }} </h2>
    <div class="contenido">
        <div class="iteracion">
          <p> Viajero: {{ viaje.usuario.username}}</p>
          <p> Objetivos del viaje: {{ viaje.objetivos }} </p>
          <br>
          <p> Descripción</p>
          <p>{{ viaje.descripcion }} </p>

        </div>

        <h3 class="verde"> Itinerario del viaje </h3>
        
        {% for destino in destinos %}
        <div class="iteracion">
          <div class="contenido">
            <p> País: {{ destino.pais }} </p>
            <p> Ciudad: {{ destino.ciudad }} </p>
            <p> Llegada: {{ destino.fechaLlegada }} </p>
            <p> Salida: {{ destino.fechaSalida }} </p>
            <p> Estoy por: {{ destino.cantDias }} días </p>
          </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
        {% include 'autenticarse.html' %}
    {% endif %}

</section>

{% endblock %}
