{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">

    <h1>Nuevo comentario</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Enviar</button>
    </form>

</section>

{% endblock content %}