{% extends "base.html" %}

{% block content %}
{% include 'volver.html' %}
  <section class="bloque">
    <h2 class="celeste">Articulos</h2>
      {% if user.is_authenticated %}
          <div class="botonera">
            <ul>
              <li class="boton-verde"><a href="{% url 'articuloAlta' %}">Crear un nuevo Artículo</a></li>
            </ul>
          </div>
            <p>Listado de los Artículos</p>
            <p class="iteracion"></p>

            {% for articulo in items %}
              <div class="iteracion">
                  <h3  class="verde"> {{articulo.titulo}} </h3>
                  <div><a href="{% url 'articuloVer' pk=articulo.id %}">Leer mas...</a> </div>
                  <div><a href="{% url 'articuloEditar' pk=articulo.id %}">Editar</a></div>
                  <div><a href="{% url 'articuloBorrar' pk=articulo.id %}">Borrar</a></div>
              </div>

            {% endfor %}

            {% if items.paginator.num_pages > 1 %}
                <div class="botonera">
                        {% if items.has_previous %}
                            <a class="boton-verde" href="?page={{ items.previous_page_number }}">Anterior</a>
                        {% endif %}

                        {% if items.has_next %}
                            <a class="boton-verde" href="?page={{ items.next_page_number }}">Siguente</a>
                        {% endif %}
                </div>
            {% endif %}
          <!--Si el usuario no esta registrado le pido que se registre -->
      {% else %}
          {% include 'autenticarse.html' %}
      {% endif %}


  </section>

{% endblock %}
