{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
  <img class="img-perfil" src= "/{{articulo.foto_articulo.url}}" >
  <p></p>
  <h2 class="naranja">Borrar Articulo</h2>
      {% if user.is_superuser %}
          <div class="contenido">
            <form method="post">
                {% csrf_token %}
                    {% for field in form %}
                      <p >
                        {{ field.label_tag }} <br>
                        {{ field }}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                    {% endfor %}
              <div class="botonera">
                  <input type="submit" value="Borrar" class="boton-naranja">
              </div>
            </form>
          </div>

          <hr>
          <br>
          <div class="botonera">
            <ul>
              <li class="boton-celeste"><a href="{% url 'articulosListar' %}">Volver a Articulos</a></li>
            </ul>
          </div>
      {% else %}
        <p> SOLO EL DUEÑO DEL BLOG PUEDE BORRAR ARTICULOS</p>
          {% include 'autenticarse.html' %}
      {% endif %}
</section>


{% endblock content %}
