{% extends 'base.html' %}


{% block content %}
{% include 'volver.html' %}

<section class="bloque">
  <h2 class="celeste">Artículo</h2>
      {% if user.is_superuser %}
          <div class="contenido">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                  <p >
                    {{ field.label_tag }} <br>
                    {{ field }}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}

                <br>
                <div class="botonera">
                    <input type="submit" value="Guardar" class="boton-verde">
                </div>
            </form>
          </div>
          <br>

      {% else %}
        <p> SOLO EL DUEÑO DEL BLOG PUEDE CREAR ARTICULOS</p>
          {% include 'autenticarse.html' %}
      {% endif %}
</section>

{% endblock content %}
