
{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">

    <h2 class="celeste">Articulos</h2>
    <div class="botonera">
      <ul>
        <li class="boton-verde"><a href="{% url 'articuloAlta' %}">Crear un nuevo Articulo</a></li>
      </ul>
    </div>
    <hr>
    <br>
    <div>
        {% for articulo in items %}
            <div class="iteracion">
                <h3  class="celeste"> {{articulo.titulo}} </h3>

                <div><a href="{% url 'articuloVer' pk=articulo.id %}">Ver</a></div>
                <div><a href="{% url 'articuloEditar' pk=articulo.id %}">Editar</a></div>
                <div><a href="{% url 'articuloBorrar' pk=articulo.id %}">Borrar</a></div>
            </div>


        {% endfor %}

        {% if items.paginator.num_pages > 1 %}
            <div class="botonera">
                    {% if items.has_previous %}
                        <a class="boton-verde" href="?page={{ items.previous_page_number }}">Anterior</a>
                    {% endif %}

                    {% if items.has_next %}
                        <a class="boton-verde" href="?page={{ items.next_page_number }}">Siguente</a>
                    {% endif %}
            </div>
        {% endif %}
    </div>


</section>

{% endblock content %}
