{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
{% include 'volver.html' %}
<link href="{% static 'css/panel.css' %}" rel="stylesheet">
<section class="bloque">
  <h2 class="celeste">Artículo</h2>
  <div class="botonera">
    <ul>
      <li class="boton-verde"><a href="{% url 'verTodosArticulos' %}">Ver todos los artículos</a></li>
    </ul>
  </div>
    <div class="iteracion">

        <div class="contenido">
          <h2 class="celeste">{{ articulo.titulo }}</h2>
          <br>
          <br>
          <img src="{% static articulo.foto_articulo.url %}" alt="{{ articulo.foto_articulo.url }}" />
          <br>
          <p>{{ articulo.descripcion }}</p>
          <br>
          <p class="cuerpo">{{ articulo.contenido }}</p>
          <br>
          <p>{{ articulo.valoracion }}</p>
        </div>
    </div>


    <div class="iteracion">
        <h3>Comentarios</h3>
        <form action="{% url 'agregarComentario' pk=articulo.pk %}"  method="POST" id="post-form" >
          {% csrf_token %}
          {% for comentarioField in comentarioForm %}
            {{ comentarioField }}
          {% endfor %}
          <div class="botonera">
            <input type="submit" value="Comentar" class="boton-celeste">
          </div>
        </form>
    </div>

    <div id="comentarios">
      {% for comentario in articulo.comentarios.all %}
      <div class="comment">
        <div class="date">{{ comentario.fechaCreacion }}</div>
        <strong>{{ comentario.autor }}</strong>
        <p>{{ comentario.texto|linebreaks }}</p>
      </div>
      {% empty %}
      <p> Este articulo aun no tiene comentarios, se el primero! </p>
      {% endfor %}
    </div>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/comentario.js' %}"></script>
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>

</section>

{% endblock content %}
