
{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
  <h2 class="celeste">Diarios</h2>

    <div class="contenido">

        <form id="searchform" action="{% url 'buscarDiarios' %}" method="get" accept-charset="utf-8">
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
            <div class="botonera">
                <input type="submit" value="Buscar diarios" class="boton-verde">
            </div>
        </form>

    </div>
    <hr>
    <br>

    {% for diario in diarios %}
      <div class="iteracion">

          <h3  class="celeste"> {{diario.nombre}} </h3>
          <h3  class="celeste"> {{diario.usuario.username}} </h3>
          <div><a href="{% url 'visualizarDiarioUsuario' pk=diario.id %}">Leer</a></div>
          <br>
          {% endfor %}

          {% if diarios.paginator.num_pages > 1 %}
          <div class="botonera">
              {% if diarios.has_previous %}
              <a class="boton-verde" href="?page={{ diarios.previous_page_number }}">Anterior</a>
              {% endif %}

              {% if diarios.has_next %}
              <a class="boton-verde" href="?page={{ diarios.next_page_number }}">Siguente</a>
              {% endif %}
          </div>
        </div>
    {% endif %}


</section>

{% endblock content %}
