
{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
    <h2 class="celeste">Artículos</h2>

    <div class="contenido">
        <form id="searchform" action="{% url 'buscarArticulos' %}" method="get" accept-charset="utf-8">
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
                <div class="botonera">
                  <input type="submit" value="Buscar articulos" class="boton-verde">
                </div>
        </form>
    </div>
    <hr>
    <br>
    <div>
        {% for articulo in articulos %}
        <div class="iteracion">
          <h3  class="verde"> {{articulo.titulo}} </h3>
          <a href="{% url 'articuloVer' pk=articulo.id %}">Leer mas...</a>
        </div>
        {% endfor %}

        {% if articulos.paginator.num_pages > 1 %}
        <div class="botonera">
            {% if articulos.has_previous %}
                <a class="boton-verde" href="?page={{ articulos.previous_page_number }}">Anterior</a>
            {% endif %}

            {% if articulos.has_next %}
                <a class="boton-verde" href="?page={{ articulos.next_page_number }}">Siguente</a>
            {% endif %}
        </div>
        {% endif %}
    </div>


</section>

{% endblock content %}
