{% extends 'base.html' %}

{% block content %}
  <!-- Incluir el menu de volver -->
  {% include 'volver.html' %}

    <section class="bloque b-verde">
      <h3 class="celeste"> REGISTRARSE COMO USUARIO </h3>
      <p> ... Se parte de esta comunidad de viajeros ... </p>
      <div class="contenido">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in form %}
                  <p >
                     {{ field.label_tag }} <br>
                    {{ field }}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}


                {% for field in form2 %}
                  <p >
                     {{ field.label_tag }} <br>
                    {{ field }}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
            <button type="submit" class="boton-verde"> Registrar </button>
            <br><a class="" href="{% url 'inicio' %}"> ¿Ya tienes usuario?</a>
          </form>
      </div>
    </section>

{% endblock content %}
