{% extends 'base.html' %}

{% block content %}
  <!-- Incluir el menu de volver -->
  {% include 'volver.html' %}

    <section class="bloque b-verde">
      <h3 class="celeste"> INGRESAR AL SITIO </h3>
      <p> ... Se parte de esta comunidad de viajeros ... </p>
      <div class="contenido">

          {% if form.errors %}
            <p style="color: red">Tu usuario o contraseña es incorrecto, vuelva a intentarlo</p>
          {% endif %}

          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.help_text %}
                  <p><small style="color: grey">{{ field.help_text }}</small></p>
                {% endif %}
              </p>
            {% endfor %}
            <button type="submit" class="boton-verde"> Ingresar </button>

            <div class="botonera">
              <p>¿Ya tienes usuario?</p>
              <ul>
                <li class="boton-verde"><a  href="{% url 'registrar' %}"> Registrarse </a></li>
              </ul>
            </div>

          </form>
      </div>
    </section>

{% endblock content %}
