  
<div class="botonera">
  <h4> Debe ser miembro de la comunidad de viajeros </h4>
    <ul>
        <li class="boton-verde"><a href="{% url 'registrar' %}"> Registrarse</a></li>
        <li class="boton-verde"><a href="{% url 'ingresar' %}"> Ingresar</a> </li>
    </ul>
</div>
