    {% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>Viajeros</title>
      <link href="{% static 'css/viajeros.css' %}" rel="stylesheet">
      <meta name="viewport" content="width=device-width,initial-scale=1">
    {% endblock head %}
  </head>
  
  <body>
    
    <header>
        <nav class="login">
          <ul>
              <!-- Me fijo si el usuario ya esta logeado-->
              {% if user.is_authenticated %}

                <li><a class="" href="{% url 'salir' %}">Salir</a></li> 
                <li> | </li>
                <li><a class="" href="{% url 'panel' %}">Panel</a></li>
              {% else %}
                <li><a href="{% url 'social:begin' 'github' %}">Login con GitHub</a></li>
                <li> | </li>
                <li><a class="" href="{% url 'ingresar' %}">Login</a></li>
                <li> | </li>
                <li><a class="" href="{% url 'registrar' %}">Registrarse</a></li>
              {% endif %}
          </ul>
        </nav>
        <h1 class="logo"> Viajeros </h1>
    </header>
  
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
      {% block footer %}
        <p>Final Programación Web 2018</p>
      {% endblock footer %}
    </footer>

    <script type="text/javascript">
        $(function() {
            $('#myForm tbody tr').formset({
                prefix: '{{ formset.prefix }}'
            });
        })
    </script>

  </body>

</html>