{% extends 'base.html' %}
{% load staticfiles%}

{% block content %}

    {% block menu %}
        <nav class="menu">
              <ul>
                  <li><a class="" href="#articulos-destacados">Articulos</a></li>
                  <li><a class="" href="#diarios">Diarios</a></li>
                  <li><a class="" href="#eventos">Eventos</a></li>
                  <li><a class="" href="#viaje">Viajes</a></li>
              </ul>
        </nav>
    {% endblock menu %}

    <img class="imagen-portada" src="static/img/portada.png" alt="Foto de portada" />

    <!-- Artuculos resultado del filtro -->
    {% block filtro %}
    {% endblock filtro%}


    <!-- Articulos principales -->
    {% block articulos-destacados %}
        <section class="bloque b-verde" id="articulos-destacados">

            <h2 class="verde"> Artículos </h2>
            <p> Los mejores artículos </p>

            <div class="contenido">
                <div class="articulos grid">
                    {% for articulo in articulos %}
                        <div class="articulo">
                            <img class="foto-art-mini" src="{% static articulo.foto_articulo.url %}" alt="{{ articulo.foto_articulo.url }}" />
                            <header>  <h3> {{ articulo.titulo }} </h3> </header>
                            <article> <p> {{ articulo.descripcion }} </p></article>
                            <a class="" href="{% url 'articuloVer' pk=articulo.pk %}">Leer mas...</a>
                        </div>
                    {% endfor %}
                </div>

                <div class="botonera" id="botonera-borde">
                    <ul>
                        <li class="boton-celeste"><a href="{% url 'verTodosArticulos' %}"> Ver todos los artículos</a></li>
                    </ul>
                </div>

            </div>
        </section>

    {% endblock articulos-destacados %}
    <!-- Fin Articulos principales -->


    <!-- Diarios -->
    {% block diarios %}
        <section class="bloque b-verde" id="diarios">

            <h2 class="verde"> Diarios </h2>
            <p> Los diarios destacados </p>

            <div class="contenido">
                <div class=" grid">
                    {% for diario in diarios  %}
                    <div class="diario">
                        <img id="img-panel" class="img-perfil" src="{% static diario.usuario.perfil.foto_perfil.url %}" alt="{{ diario.usuario.perfil.foto_perfil.url }}" />
                        <header> <h3> {{ diario.usuario.username }} </h3> </header>
                        <article> <p> {{ diario.nombre }} </p></article>
                        <a class="" href="{% url 'visualizarDiarioUsuario' pk=diario.pk %}">Leer mas...</a>
                    </div>

                    {% endfor %}
                </div>

                <div class="botonera" id="botonera-borde">
                    <ul>
                        <li class="boton-celeste"><a href="{% url 'verTodosDiarios' %}"> Ver todos los diarios</a></li>
                    </ul>
                </div>

            </div>
        </section>
    {% endblock diarios %}
    <!-- Fin Diarios -->


    <!-- encuentros -->
    {% block eventos %}
        <section class="bloque b-verde" id="eventos">

            <h2 class="verde"> Eventos </h2>
            <p> ¡Ponete en contacto con otros usuarios que estan de viaje! </p>

            <div class="contenido">
                <div class=" grid">
                  {% for evento in eventos  %}
                    <div class="evento">
                        <header> <h3> {{ evento.titulo }} </h3> </header>
                        <article> <p> {{ evento.descripcion }} </p></article>
                        <a class="" href="{% url 'eventoVer' pk=evento.pk %}">Leer mas...</a>

                    </div>

                  {% endfor %}
                </div>
            </div>

            <div class="botonera" id="botonera-borde">
                <ul>
                    <li class="boton-celeste"><a href="{% url 'verTodosEventos' %}"> Ver todos los eventos</a></li>
                </ul>
            </div>
        </section>
    {% endblock eventos %}
    <!-- Fin encuentros -->

    <!-- Viaje -->
    {% block viaje %}
        <section class="bloque b-verde" id="viajes">

            <h2 class="verde"> Viajes </h2>
            <p> ¡Mira por donde andan otros viajeros y armá tu propia ruta! </p>

            <div class="contenido">
                <div class="grid">
                    {% for viaje in viajes  %}
                        <div class="viaje">
                            <header> <h3> {{ viaje.nombre }} </h3> </header>
                            <article> <p> {{ viaje.descripcion }} </p></article>
                            <a class="" href="{% url 'verViaje' pk=viaje.pk %}">Leer mas...</a>

                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="botonera" id="botonera-borde">
                <ul>
                    <li class="boton-celeste"><a href="{% url 'verTodosViajes' %}"> Ver todos los viajes</a></li>
                </ul>
            </div>
        </section>
    {% endblock viaje %}
    <!-- Fin viaje -->

    <script>
      function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 20, lng: -35},
          zoom: 2,
          styles: [ { "featureType": "administrative.country", "elementType": "geometry", "stylers": [ { "color": "#373737" } ] }, { "featureType": "administrative.land_parcel", "stylers": [ { "visibility": "off" } ] }, { "featureType": "administrative.neighborhood", "stylers": [ { "visibility": "off" } ] }, { "featureType": "landscape.natural", "elementType": "geometry", "stylers": [ { "color": "#a3cebf" } ] }, { "featureType": "poi", "elementType": "labels.text", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.business", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit", "stylers": [ { "visibility": "off" } ] }, { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#c7dddf" } ] }, { "featureType": "water", "elementType": "labels.text", "stylers": [ { "visibility": "off" } ] } ]
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLwclYj8MVYV8h7XSeCHwNF5ZIIXtlsKE&callback=initMap" type="text/javascript"></script>

{% endblock content %}
