{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
{% include 'volver.html' %}
  <link href="{% static 'css/panel.css' %}" rel="stylesheet">

  <section class="bloque">
    <h2 class="celeste">Panel</h2>
    {% if user.is_authenticated %}
      <p>Panel de {{ user.username }}</p>

        <div class="sidebar">
          <div class="sidenav">
            <img id="img-panel" class="img-perfil" src="{% static perfil_info.foto_perfil.url %}" alt="{{ perfil_info.foto_perfil.url }}" />
            <br>

            {% if user.is_superuser %}
              <a href="{% url 'articulosListar' %}">Artículos</a>
            {% endif %}

            <a href="{% url 'diario' %}">Diario de viaje</a>
            <a href="{% url 'eventos' %}">Eventos</a>
            <a href="{% url 'viaje' %}">Viajes</a>

          </div>
        </div>

        <h3 class="verde">Mis datos personales</h3>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
          <p >
            {{ field.label_tag }} <br>
            {{ field }}
            {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          </p>
          {% endfor %}

          <button type="submit" class="boton-verde"> Guardar cambios </button>
        </form>

    <!--Si el usuario no esta registrado le pido que se registre -->
    {% else %}
      {% include 'autenticarse.html' %}
    {% endif %}


  </section>

{% endblock %}
