{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
    {% if user.is_authenticated %}
      <h2 class="verde">Pagina para mi diario</h2>
        <div class="contenido">
            <form method="post">
                {% csrf_token %}

                {% for field in pagina_form %}
                <p >
                    {{ field.label_tag }} <br>
                    {{ field }}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}

                <div class="botonera">
                    <input type="submit" value="Guardar cambios" class="boton-verde">
                </div>
            </form>

        </div>

    {% else %}
        {% include 'autenticarse.html' %}
    {% endif %}

</section>


{% endblock %}
