{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
{% include 'volver.html' %}
<link href="{% static 'css/panel.css' %}" rel="stylesheet">

<section class="bloque">

    {% if user.is_authenticated %}
      <h2 class="verde">Entradas de mi diario</h2>
      <br>

        <div class="sidebar">
            <div class="sidenav">
                <a href="{% url 'nuevaPagina' %}">Nueva pagina</a>
                {% if paginas %}
                    <a href="{% url 'visualizarDiario' %}">Ver mi diario</a>
                {% endif %}
            </div>
        </div>

        {% if paginas is None %}
            <h3 class="naranja">El diario no tiene entradas</h3>
        {% else %}
            {% for pagina in paginas %}
            <br>
            <div class="iteracion">
                <h3> {{ pagina.titulo }} </h3>
                <p> {{ pagina.encabezado }} </p>
                <a href="{% url 'editarPagina' pk=pagina.id %}"> Editar </a>
                <a href="{% url 'borrar_pagina' pk=pagina.id %}"> Borrar </a>
            </div>
            {% endfor %}
        {% endif %}

    <!--Si el usuario no esta registrado le pido que se registre -->
    {% else %}
       {% include 'autenticarse.html' %}
    {% endif %}

</section>

{% endblock %}
