{% extends 'base.html' %}

{% block content %}
{% include 'volver.html' %}

<section class="bloque">
    <h2 class="naranja">Nueva pagina de mi diario</h2>
    {% if user.is_authenticated %}
    <div class="contenido">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <p >
                {{ field.label_tag }} <br>
                {{ field }}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}

            <div class="botonera">
                <input type="submit" value="Guardar" class="boton-naranja">
            </div>
        </form>
    </div>
    {% else %}
    {% include 'autenticarse.html' %}
    {% endif %}
</section>

{% endblock content %}