{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
{% include 'volver.html' %}
<link href="{% static 'css/panel.css' %}" rel="stylesheet">

<section class="bloque">

    {% if user.is_authenticated %}
    <h2 class="verde">Entradas de mi diario</h2>
    <br>

        {% for pagina in paginas %}
        <div>
            <img src="{% static pagina.foto.url %}" alt="{{ pagina.foto.url }}" />

            <p> {{ pagina.titulo }} </p>
            <p> {{ pagina.fechaEntrada }} </p>
            <p> {{ pagina.encabezado }} </p>
            <p> {{ pagina.cuerpo }} </p>
        </div>
        {% endfor %}

    <!--Si el usuario no esta registrado le pido que se registre -->
    {% else %}
        {% include 'autenticarse.html' %}
    {% endif %}

</section>

{% endblock %}
